<html>
    <head>
        <title>Handle Form Input</title>
    </head>
    <body>
        {{!-- {{#if errors}}
           <ul>
               {{#each error}}
                    <li>{{error.msg}}</li>
           </ul> --}}

        <p>
            Shows list of people registrered
        </p>
        {{#if registrations.length}}
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            {{#each registrations}}
            <tr>
                <td>{{ name }}</td>
                <td>{{ email }}</td>
            </tr>
            {{/each}}
        </table>
        {{else}}
        <p>No registrations yet :(</p>
        {{/if}}

        
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha384-VC7EHu0lDzZyFfmjTPJq+DFyIn8TUGAJbEtpXquazFVr00Q/OOx//RjiZ9yU9+9m" crossorigin="anonymous"></script>
        <script src="https://statics.teams.microsoft.com/sdk/v1.0/js/MicrosoftTeams.min.js" integrity="sha384-SNENyRfvDvybst1u0LawETYF6L5yMx5Ya1dIqWoG4UDTZ/5UAMB15h37ktdBbyFh" crossorigin="anonymous"></script>

        {{!-- <script type="text/javascript">
            microsoftTeams.initialize();

            // Login to Azure AD and get access to Microsoft Graph
            function login() {
                hideProfileAndError(); 

                microsoftTeams.authentication.authenticate({
                    url: window.location.origin + "/tab-auth/simple-start",
                    width: 600,
                    height: 535,
                    successCallback: function (result) {
                        console.log("Login succeeded: " + result);
                        getUserProfile(result.accessToken);
                    },
                    failureCallback: function (reason) {
                        console.log("Login failed: " + reason);
                        handleAuthError(reason);
                    }
                });
            }

            // Login to Azure AD and get access to Microsoft Graph
            function loginV2() {
                hideProfileAndError(); 

                microsoftTeams.authentication.authenticate({
                    url: window.location.origin + "/tab-auth/simple-start-v2",
                    width: 600,
                    height: 535,
                    successCallback: function (result) {
                        console.log("Login succeeded: " + result);
                        getUserProfile(result.accessToken);
                    },
                    failureCallback: function (reason) {
                        console.log("Login failed: " + reason);
                        handleAuthError(reason);
                    }
                });
            }

            // Get the user's profile information from Microsoft Graph
            function getUserProfile(accessToken) {
                $.ajax({
                    url: "https://graph.microsoft.com/v1.0/me/",
                    beforeSend: function(request) {
                        request.setRequestHeader("Authorization", "Bearer " + accessToken);
                    },
                    success: function (profile) {
                        $("#profileDisplayName").text(profile.displayName);
                        $("#profileJobTitle").text(profile.jobTitle);
                        $("#profileMail").text(profile.mail);
                        $("#profileUpn").text(profile.userPrincipalName);
                        $("#profileObjectId").text(profile.id);
                        $("#divProfile").css({ display: "" });
                        $("#divError").css({ display: "none" });
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("textStatus: " + textStatus + ", errorThrown:" + errorThrown);
                        $("#divError").text(errorThrown).css({ display: "" });
                        $("#divProfile").css({ display: "none" });
                    },
                });
            }

            // Show error information
            function handleAuthError(reason) {
                $("#divError").text(reason).css({ display: "" });
                $("#divProfile").css({ display: "none" });
            }

            // Clear all information in tab
            function hideProfileAndError() {
                $("#divError").text("").css({ display: "none" });
                $("#divProfile").css({ display: "none" });
            }
        </script> --}}
    </body>
</html>
